
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  background-color:#DCD7C9;
}

.encabezado{
  background-color:#3F4F44;
  width: 100%;
  height: 70px;
}

.container{
  display: flex;
  min-height: 600px;
  padding: 50px;
  gap: 30px;
  margin-top: 20px;
}

.container-list{
  width: 800px;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  padding: 10px 0px 10px 10px;
  border-radius: .5rem;
  background-color:white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}

.container-input input{
  width: 25px;
  height: 25px;
}

.container-div{
  border: 1px solid #854836;
  width: 70%;
  min-height: 400px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  background-color: #ffff;
  border-radius: 1.5rem;
  transition: transform 0.3s ease-in-out;
}

.container-div :hover{
  transform: translateY(-3px);
  transition: width 0.3s, transform 0.3s;
}

.container-textbox{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #854836;
  width: 80%;
  border-radius: 30px;
  padding: 0;
  background-color: #ffff;
  padding: 30px;
}

.container-textbox input{
  margin: 10px ;
    border-radius: 5px;
    border: 1px solid #854836;
    font-size: 15px;
    display: flex;
    text-align: center;
}
button{
  background-color: #FFB200;
  border: bisque;
  border-radius: 20px;
  font-size: 22px;
  padding: 10px;
  color: black;
  margin: 20px;
  cursor: pointer;
  transition: .3s;
}

button:hover {
  border:2px solid;
  background-color: #EB5B00;
  color: bisque;
}

button:active{
  transform: scale(0.9);
}

#exampleEmail{
  width: 80%;
  height: 30px;
  padding-left: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
