*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  background-color:#272525;

}

.content{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;
}

.encabezado{
  width: 100%;
  background-color:#64625a;
  height: 70px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:15px 20px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-list{
  display: flex;
  gap: 20px;
  padding: 10px 0px 10px 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  background-image:linear-gradient( 150deg, #9500ff, #90f,#00DDFF);
}



.container-div{
  font-size: 15px;
    border-radius: 30px;
    padding: 15px;
    margin: 10px;
    background-image:linear-gradient( 150deg, #9500ff, #90f,#00DDFF);
}

.container-div :hover{
  transform: translateY(-3px);
  transition: width 0.3s, transform 0.3s;
  
}
.container-tareas h4{
  display: flex;
}
.container-tareas p{
  display: flex;
}
.container-textbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:linear-gradient( 150deg, #ff4800, rgba(255, 208, 0, 0.596),#ff0055);
    border-radius: 30px;
    height: 350px;
    padding: 0;
}
.container-textbox input{
  margin: 10px ;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    display: flex;
}

button{
  background-image:linear-gradient( 150deg, #9500ff, #90f,#00DDFF);
  border: 2px solid rgb(30, 99, 163);
  border-radius: 20px;
  font-size: 24px;
  display: flex;
  padding: 10px;
  color: bisque;
  margin: 20px;
  cursor: pointer;
  transition: .3s;
}

button:hover {
  border:2px solid#ff0055;
  background-image:linear-gradient( 150deg, #ff4800, rgba(255, 208, 0, 0.596),#ff0055);
  color: rgb(105, 5, 5);
}
button:active{
  transform: scale(0.9);
}

#exampleEmail{
  width: 80%;
  height: 30px;
  padding-left: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
